:root {
  --color-text: #000022;
  --color-red: #E62735;
  --color-green: #79C07B;
  --color-blue: #79BBC0;
  --color-yellow: #FFCF24;
  --color-black: #000022;
  --color-grey2: #D3D3D3;
  --color-grey3: #C7C7C7;
  --color-grey: #F5F5F5;
  --color-white: #FFFFFF;
  --font-title-light: 'Cocogoose Light';
  --font-title-demi: 'Cocogoose Demi Bold';
  --font-body-regular: 'Arcon Regular';
  --font-body-rounded: 'Arcon Rounded Regular';
}