@font-face {
  font-family: "Arcon Regular";
  src: url("../fonts/Arcon-Regular.woff") format("woff"),
  url("../fonts/Arcon-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Arcon Rounded Regular";
  src: url("../fonts/Arcon-Rounded-Regular.woff") format("woff"),
  url("../fonts/Arcon-Rounded-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Cocogoose Light";
  src: url("../fonts/cocogoose_light.woff") format("woff"),
  url("../fonts/cocogoose_light.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Cocogoose Demi Bold";
  src: url("../fonts/cocogoose_demi_bold.woff") format("woff"),
  url("../fonts/cocogoose_demi_bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
