h1{
  font-family: var(--font-title-demi);
  font-size: 72px;
  line-height: 1.17em;
}
h2{
  font-family: var(--font-title-demi);
  font-size: 48px;
  line-height: 1.354em;
}
h3{
  font-family: var(--font-title-demi);
  font-size: 36px;
  line-height: 1.72em;
}
h4{
  font-family: var(--font-title-demi);
  font-size: 16px;
  line-height: 1.3125em;
}
h5{
  font-family: var(--font-title-demi);
  font-size: 12px;
  line-height: 1.25em;
}
h6{
  font-family: var(--font-title-light);
  font-size: 12px;
  line-height: 1.5em;
}
p{
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  line-height: inherit;
}
li{
  font-family: inherit;
  color: inherit;
  font-size: 14px;
  line-height: 2.14em;
}