<footer class="footer anim-on-scroll hide fade">
    <div class="container">
        <div class="footer-panel">
            <div class="footer-logo">
                <a href="/">
                    <img src="../images/ls_footer_logo.svg" alt="logo">
                </a>
            </div>
            <div class="footer-nav">
                <nav>
                    <ul class="nav-menu">
                        <li>
                            <a href="">
                                FEATURES
                            </a>
                        </li>
                        <li>
                            <a href="">
                                PRODUCTS
                            </a>
                        </li>
                        <li>
                            <a href="">
                                LOCATIONS
                            </a>
                        </li>
                        <li>
                            <a href="">
                                FAQ
                            </a>
                        </li>
                        <li>
                            <a href="">
                                CONTACTS
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="footer-socials">
                <a href="" class="social-link">
                    <img src="../images/facebook.svg" alt="facebook">
                </a>
                <a href="" class="social-link">
                    <img src="../images/twitter.svg" alt="twitter">
                </a>
                <a href="" class="social-link">
                    <img src="../images/instagram.svg" alt="instagram">
                </a>
            </div>
        </div>
    </div>
</footer>