<header class="header">
    <div class="container">
        <div class="header-panel">
            <div class="header-logo">
                <a href="/">
                    <img src="../images/ls_header_logo.svg" alt="logo">
                </a>
            </div>
            <div class="header-nav">
                <nav>
                    <ul class="nav-menu">
                        <li>
                            <a href="">
                                WHERE LEARNING BEGINS
                            </a>
                        </li>
                        <li>
                            <a href="">
                                PRODUCTS
                            </a>
                        </li>
                        <li>
                            <a href="">
                                FEATURES
                            </a>
                        </li>
                        <li>
                            <a href="">
                                FAQ
                            </a>
                        </li>
                        <li>
                            <a href="">
                                Testimonials
                            </a>
                        </li>
                        <li>
                            <a href="">
                                LOCATIONS
                            </a>
                        </li>
                        <li>
                            <a href="">
                                CONTACTS
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="footer-socials d-block d-lg-none">
                    <a href="" class="social-link">
                        <img src="../images/facebook-black.svg" alt="facebook">
                    </a>
                    <a href="" class="social-link">
                        <img src="../images/twitter-black.svg" alt="twitter">
                    </a>
                    <a href="" class="social-link">
                        <img src="../images/instagram-black.svg" alt="instagram">
                    </a>
                </div>
            </div>
            <div class="burger">
                <div class="burger-box">
                    <span class="burger-box-arrow"></span>
                    <span class="burger-box-arrow"></span>
                    <span class="burger-box-arrow"></span>
                    <span class="burger-box-arrow"></span>
                    <span class="burger-box-arrow"></span>
                </div>
            </div>
        </div>
    </div>
</header>