.button {
  position: relative;
  overflow: hidden;
  font-family: var(--font-title-demi);
  font-size: 12px;
  line-height: 1.25em;
  white-space: nowrap;
  text-transform: uppercase;
  padding: 17.5px 30px;
  text-align: center;
  background: var(--color-red);
  border: none;
  border-radius: 10px;
  z-index: 1;
    &.small-button{
      padding: 7.5px 20px;
    }
    span{
      display: block;
      //mix-blend-mode: difference;
      color: var(--color-white);
      z-index: 10;
      pointer-events: none;
    }
    &:before {
      position: absolute;
      content: '';
      background: var(--color-blue);
      width: 120%;
      height: 0;
      padding-bottom: 120%;
      top: -110%;
      left: -10%;
      border-radius: 50%;
      transform: translate3d(0, 68%, 0) scale3d(0, 0, 0);
    }
    &:after{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: var(--color-blue);
      transform: translate3d(0,-100%,0);
      transition: transform 0.4s cubic-bezier(0.1, 0, 0.3, 1);
      z-index: -1;
    }
    @include hover(991){
      &:hover,
      &:active{
        &:before{
          transform: translate3d(0,0,0) scale3d(1,1,1);
          transition: transform 0.4s cubic-bezier(0.1, 0, 0.3, 1);
        }
        &:after{
          transform: translate3d(0,0,0);
          transition-duration: 0.05s;
          transition-delay: 0.4s;
          transition-timing-function: linear;
        }
        span{
          animation: MoveScaleUpInitial 0.3s forwards, MoveScaleUpEnd 0.3s forwards 0.3s;
          color: var(--color-white);
        }
      }
    }
    &:disabled{
      background: var(--color-grey2);
    }
}

@keyframes MoveScaleUpInitial {
  to {
    transform: translate3d(0,-105%,0) scale3d(1,2,1);
    opacity: 0;
  }
}

@keyframes MoveScaleUpEnd {
  from {
    transform: translate3d(0,100%,0) scale3d(1,2,1);
    opacity: 0;
  }
  to {
    transform: translate3d(0,0,0);
    opacity: 1;
  }
}